:root {
    /*--max-width: 1100px;*/
    /*--border-radius: 12px;*/
    /*--font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',*/
    /*  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',*/
    /*  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;*/


    /* todo: consider */
    --padding-side-standard: 3em;
    --margin-bottom-standard: 2em;
    --padding-top-standard: 2em;
    --padding-bottom-standard: 3em;
    --padding-top-main-header: 6em;
    --background-color-dark: rgba(0, 0, 0, 0.85);
    --sidebar-big-size: 30em;
    --max-media-width: 42em;
    --max-media-height: 26em;

    --tomato-bg: #fff7e3;
}

body {
    background: var(--tomato-bg);
}